header{
    background-color: darkolivegreen;
    border: 10px solid darkolivegreen;
    text-align: center;
    font-size: 18px;
    color: wheat;
    
}

button{
    float: right;
    border-radius: 5px;
}

th, td{
    border: 1px solid black;
    
}

table{
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    
}

.monthlyTotal{
    font-size: 20px;
    text-align: right;
    font-weight: bold;
}

